extends ../layouts/default

block content
  div.background-image
    img(src=profile.bgImage)
  header.profile
    img.profile__image(src=profile.profileImage)
    h1.profile__title=profile.title
    h2.profile__subtitle=profile.subtitle
    div.profile__statement=profile.statement 
    ul.profile__channels
      each val in profile.channels
        li
          a(href=val.href)=val.name 
  section.work
    //- ul.work__list
    //-   each item in work
    //-     li
    
