doctype html
html
  head
    title=base.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no, minimum-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    
    if base.description
      meta(name='description', content=base.meta.description)
    //- Open Graph
    each val, index in base.meta.og
      meta(property="og:" + index, content=val)
    //- Twitter
    each val, index in base.meta.twitter
      meta(property="twitter:" + index, content=val)
    //- Google fonts
    if base.googlefont
      link(href=base.googlefont, rel='stylesheet')
    //- stylesheets
    link(property=gaTrackingId)
    link(rel='stylesheet', href='/assets/styles/main' + (locals.minify ? '.min' : '') + '.css')
  body  
   
    block content
    
    script(src='/assets/scripts/main' + (locals.minify ? '.min' : '') + '.js')
    if locals.gaTrackingId && locals.environment==='prod'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '#{locals.gaTrackingId}', 'auto');
        ga('send', 'pageview');
