doctype html
html
  head
    title=base.title
    if base.description
      meta(name='description', content=base.meta.description)
    //- Open Graph
    each val, index in base.meta.og
      meta(property="og:" + index, content=val)
    //- Twitter
    each val, index in base.meta.twitter
      meta(property="twitter:" + index, content=val)
    //- Google fonts
    if base.googlefont
      link(href=base.googlefont, rel='stylesheet')
    //- stylesheets
    link(rel='stylesheet', href='/assets/styles/main' + (locals.minify ? '.min' : '') + '.css')
  body
    block content
    script(src='/assets/scripts/main' + (locals.minify ? '.min' : '') + '.js')
